body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    font-weight: 400;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.team,
.work,
.clients,
.portfolio {
    padding: 94px 0;
}

.preference {
    padding: 94px 0 0;
}

.preference,
.work,
.clients {
    background-color: var(--primary-white-color);
}

.work__title,
.team__title,
.clients__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}