:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-text-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-white-color: #F5F5F5;
    --tertiary-white-color: #F5F4FA;
    --primary-dark-color: #2F303A;
    --contact-footer-color: rgba(255, 255, 255, 0.6);
    --logo-black-color: #000000;
    --icon-color: #AFB1B8;
    --border-form: rgba(33, 33, 33, 0.2);
    --hero-overlay: linear-gradient(rgba(47, 48, 58, 0.4),
                                    rgba(47, 48, 58, 0.4));
}