.header {
    background-color: var(--primary-white-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header__nav-link {
    display: block;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
            display: flex;
    }
}

.header__contact {
    display: none;
    align-items: center;
    flex-direction: column;
    
    & :hover,
    & :focus {
        color: var(--accent-text-color);
    }

        @media screen and (min-width: $tablet) {
            display: flex;
        }

        @media screen and (min-width: $desktop) {
            justify-content: space-between;
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
        }
}

.header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    color: var(--primary-text-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $desktop) {
            padding: 32px 0;
        }
}

.header__icon {
    fill: currentColor;
    margin-right: 10px;
}