.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__burger-menu {
    border: transparent;
    background-color: transparent;
    padding: 10px 8px;
    @media (min-width: $tablet) {
        display: none;
     }
}

.nav__list {
    display: none;
    align-items: center;
    justify-content: space-between;
    
    & :hover,
    & :focus {
        color: var(--accent-text-color);
    }

         @media screen and (min-width: $tablet) {
             display: flex;
         }
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    display: block;
    padding: 32px 0;
    color: var(--title-text-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current {
    position: relative;
    display: block;
    padding: 32px 0;
    color: var(--accent-text-color);
    text-decoration: none;
    
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-text-color);
        border-radius: 2px;
    }
}